APP_NAME=Bizkit
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_HOST=localhost
APP_URL=https://${APP_HOST}
APP_TIMEZONE=America/Caracas
ASSET_URL="/" # for relative asset path
APP_PREVIOUS_KEYS=

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

HASH_DRIVER=argon2id
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=daily,errorlog
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
LOG_DAILY_DAYS=14
LOG_DEPRECATIONS_TRACE=false
LOG_PAPERTRAIL_HANDLER=monolog
LOG_SLACK_WEBHOOK_URL=
LOG_SLACK_USERNAME=
LOG_SLACK_EMOJI=
LOG_STDERR_FORMATTER=default
LOG_SYSLOG_FACILITY=local6
PAPERTRAIL_URL=
PAPERTRAIL_PORT=

DB_CONNECTION=sqlite #? sqlite,mysql,pgsql,mariadb,sqlsrv
# DB_HOST=127.0.0.1
# DB_PORT=3306 #? 3306,5432,1433
# DB_DATABASE=bizkit #! must be a path if sqlite
# DB_SCHEMA=public #! for postgres
# DB_USERNAME=root
# DB_PASSWORD=
# DB_ENCRYPT=yes #! for sqlsrv
# DB_TRUST_SERVER_CERTIFICATE=true #! for sqlsrv
DB_URL=
DB_SOCKET=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_SSLMODE=prefer
DB_FOREIGN_KEYS=true
MYSQL_ATTR_SSL_CA=
DB_QUEUE=
DB_QUEUE_CONNECTION=
DB_QUEUE_TABLE=jobs
DB_QUEUE_RETRY_AFTER=90
DB_CACHE_CONNECTION=
DB_CACHE_TABLE=cache
DB_CACHE_LOCK_CONNECTION=
DB_CACHE_LOCK_TABLE=cache_locks
POSTGRES_VERSION=18

SESSION_DRIVER=database #? file, cookie, database, memcached, redis, dynamodb, array
SESSION_CONNECTION="${DB_CONNECTION}" #? redis
SESSION_TABLE=sessions
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_COOKIE=
SESSION_STORE=
SESSION_SECURE_COOKIE=
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax
SESSION_PARTITIONED_COOKIE=false
SESSION_EXPIRE_ON_CLOSE=false

BROADCAST_CONNECTION=reverb #? reverb, pusher, ably, redis, log, null
FILESYSTEM_DISK=local #? s3
QUEUE_CONNECTION=database #? redis
QUEUE_FAILED_DRIVER=null

CACHE_STORE=failover #? file, cookie, database, memcached, redis, dynamodb, array, octane
# CACHE_PREFIX="${APP_NAME}_"
CACHE_STORAGE_DISK=
CACHE_STORAGE_PATH=framework/cache/data

MEMCACHED_HOST=127.0.0.1
MEMCACHED_PORT=11211
MEMCACHED_USERNAME=
MEMCACHED_PASSWORD=
MEMCACHED_PERSISTENT_ID=

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_URL=
REDIS_USERNAME=
REDIS_DB=0
REDIS_PREFIX="${APP_NAME}-database-"
REDIS_CLUSTER=redis
REDIS_PERSISTENT=false
REDIS_TIMEOUT=60
REDIS_MAX_RETRIES=3
REDIS_BACKOFF_ALGORITHM=decorrelated_jitter
REDIS_BACKOFF_BASE=100
REDIS_BACKOFF_CAP=1000
REDIS_CACHE_CONNECTION=cache
REDIS_CACHE_DB=1
REDIS_CACHE_LOCK_CONNECTION=default
REDIS_QUEUE=
REDIS_QUEUE_CONNECTION=default
REDIS_QUEUE_RETRY_AFTER=90

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
MAIL_URL=
MAIL_EHLO_DOMAIN=
MAIL_SENDMAIL_PATH=/usr/sbin/sendmail
MAIL_LOG_CHANNEL=
POSTMARK_API_KEY=
POSTMARK_MESSAGE_STREAM_ID=
RESEND_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
AWS_ENDPOINT= #? endpoint must point to 9000 port
AWS_URL=${AWS_ENDPOINT}/${AWS_BUCKET}/
AWS_SESSION_TOKEN=
AWS_USE_DEFAULT_CREDENTIALS=true
AWS_BEDROCK_REGION=us-east-1
AWS_BEARER_TOKEN_BEDROCK=

VITE_APP_NAME="${APP_NAME}"

REVERB_APP_ID=185356
REVERB_APP_KEY=3aurl2cwkcfabgptbzjx
REVERB_APP_SECRET=gcrtjilvgue8lu0txkrh
REVERB_HOST=localhost
REVERB_PORT=8080
REVERB_SCHEME=http
REVERB_SERVER=reverb
REVERB_SERVER_HOST=0.0.0.0
REVERB_SERVER_PORT=8080
REVERB_SERVER_PATH=
REVERB_MAX_REQUEST_SIZE=10000
REVERB_APP_MAX_CONNECTIONS=
REVERB_APP_MAX_MESSAGE_SIZE=10000
REVERB_APP_ACTIVITY_TIMEOUT=30
REVERB_APP_PING_INTERVAL=60
REVERB_APP_RATE_LIMITING_ENABLED=false
REVERB_APP_RATE_LIMIT_MAX_ATTEMPTS=60
REVERB_APP_RATE_LIMIT_DECAY_SECONDS=60
REVERB_APP_RATE_LIMIT_TERMINATE=false
REVERB_APP_ACCEPT_CLIENT_EVENTS_FROM=members
REVERB_SCALING_ENABLED=false
REVERB_SCALING_CHANNEL=reverb
REVERB_PULSE_INGEST_INTERVAL=15
REVERB_TELESCOPE_INGEST_INTERVAL=15

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

ANTHROPIC_API_KEY=
ANTHROPIC_URL=https://api.anthropic.com/v1
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_URL=
AZURE_OPENAI_API_VERSION=2025-04-01-preview
AZURE_OPENAI_DEPLOYMENT=gpt-4o
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-small
AZURE_OPENAI_IMAGE_DEPLOYMENT=gpt-image-1
COHERE_API_KEY=
DEEPSEEK_API_KEY=
ELEVENLABS_API_KEY=
GEMINI_API_KEY=
GEMINI_URL=https://generativelanguage.googleapis.com/v1beta/
GROQ_API_KEY=
MISTRAL_API_KEY=
OLLAMA_API_KEY=
OLLAMA_URL=http://localhost:11434
OPENAI_API_KEY=
OPENAI_URL=https://api.openai.com/v1
OPENROUTER_API_KEY=
JINA_API_KEY=
VOYAGEAI_API_KEY=
XAI_API_KEY=

OCTANE_SERVER=frankenphp
OCTANE_HTTPS=true

PULSE_ENABLED=true
PULSE_DB_CONNECTION=${DB_CONNECTION}
PULSE_REDIS_CONNECTION=redis
PULSE_INGEST_DRIVER=storage
PULSE_INGEST_BUFFER=5000
PULSE_INGEST_KEEP="7 days"
PULSE_CACHE_DRIVER=
PULSE_STORAGE_DRIVER=database
PULSE_STORAGE_KEEP="7 days"
PULSE_DOMAIN=
PULSE_PATH=pulse
PULSE_SERVER_NAME="${APP_NAME}"
PULSE_SERVER_DIRECTORIES=/
PULSE_EXCEPTIONS_ENABLED=true
PULSE_EXCEPTIONS_LOCATION=true
PULSE_EXCEPTIONS_SAMPLE_RATE=1
PULSE_SLOW_QUERIES_ENABLED=true
PULSE_SLOW_QUERIES_LOCATION=true
PULSE_SLOW_QUERIES_MAX_QUERY_LENGTH=
PULSE_SLOW_QUERIES_SAMPLE_RATE=1
PULSE_SLOW_QUERIES_THRESHOLD=1000
PULSE_SLOW_REQUESTS_ENABLED=true
PULSE_SLOW_REQUESTS_SAMPLE_RATE=1
PULSE_SLOW_REQUESTS_THRESHOLD=1000
PULSE_SLOW_OUTGOING_REQUESTS_ENABLED=true
PULSE_SLOW_OUTGOING_REQUESTS_SAMPLE_RATE=1
PULSE_SLOW_OUTGOING_REQUESTS_THRESHOLD=1000
PULSE_SLOW_JOBS_ENABLED=true
PULSE_SLOW_JOBS_SAMPLE_RATE=1
PULSE_SLOW_JOBS_THRESHOLD=1000
PULSE_QUEUES_ENABLED=true
PULSE_QUEUES_SAMPLE_RATE=1
PULSE_USER_REQUESTS_ENABLED=true
PULSE_USER_REQUESTS_SAMPLE_RATE=1
PULSE_USER_JOBS_ENABLED=true
PULSE_USER_JOBS_SAMPLE_RATE=1
PULSE_CACHE_INTERACTIONS_ENABLED=true
PULSE_CACHE_INTERACTIONS_SAMPLE_RATE=1

HORIZON_DOMAIN=
HORIZON_PATH=horizon
HORIZON_PREFIX=
HORIZON_NAME="${APP_NAME}-horizon"

SCALAR_URL="https://cdn.jsdelivr.net/npm/@scalar/galaxy/dist/latest.json"

FILAMENT_MODE=admin #? admin, app

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=password

AUTH_GUARD=web
AUTH_PASSWORD_BROKER=users
AUTH_PASSWORD_RESET_TOKEN_TABLE=password_reset_tokens
AUTH_PASSWORD_TIMEOUT=10800
PASSKEYS_USER_HANDLE_SECRET=

PENNANT_STORE=array

STACK_NAME=bizkit
SERVICE_NETWORK=service
DATABASE_NETWORK=database
COMPOSE_PROFILES=app
